<div class="cabecalho">
    <mat-icon class="iconeUsuario" aria-label="usuario">account_circle</mat-icon>
    <p>User: Usuário</p> 
</div>

<h1>RELATÓRIO</h1>

<div class="container">
    <div class="item">
        <p>Atestado médico</p>
        <mat-icon class="iconeUsuario" aria-label="usuario">add_circle_outline</mat-icon>
        <div class="itemContainer">
            <p>Atestado</p>
            <a (click)="download()"><p>0001 <mat-icon class="iconeUsuario" aria-label="usuario">cloud_download</mat-icon></p></a>

        </div>
    </div>
    <div class="item">
        <p>Relatório de acidente</p>
        <mat-icon class="iconeUsuario" aria-label="usuario">add_circle_outline</mat-icon>
        <div class="itemContainer">
            <p>Relatório de acidente</p>
            <a (click)="download()"><p>0001 <mat-icon class="iconeUsuario" aria-label="usuario">cloud_download</mat-icon></p></a>
        </div>
    </div>
    <div class="item">
        <p>CAT</p>
        <mat-icon class="iconeUsuario" aria-label="usuario">add_circle_outline</mat-icon>
        <div class="itemContainer">
            <p>CAT</p>
            <a (click)="download()" ><p>0001 <mat-icon class="iconeUsuario" aria-label="usuario">cloud_download</mat-icon></p></a>
        </div>
    </div>
</div>
