<div class="cabecalho">
    <mat-icon class="iconeUsuario" aria-label="usuario">account_circle</mat-icon>
    <p>User: Usuário</p> 
</div>

<div style="display: inline;">
    <h1>RELATÓRIO DE INVESTIGAÇÃO E ANÁLISE DE ACIDENTES</h1>
    <a><mat-icon class="iconeSalvar" aria-label="usuario">save</mat-icon></a>
</div>

<div class="container">
    <form>
        <h3>Dados Iniciais: </h3>

        <div>
            <span>Nome da Empresa: </span>
            <input type="text" placeholder="Nome da Empresa">             
        </div>

        <div>
            <span>Endereço: </span>
            <input type="text" placeholder="Endereço">   
        </div>

        <div >
            <span>CNPJ: </span>
            <input type="number" placeholder="CNPJ">    
        </div>

        <div >
            <span>Identificação do comunicante: </span>
            <input type="text" placeholder="Comunicante">            
        </div>

        <div >
            <span>Cargo: </span>
            <input type="text" placeholder="Cargo do Comunicante">            
        </div>

        <div >
            <span>Telefone de contato: </span>
            <input type="text" placeholder="Telefone do Comunicante">            
        </div>

        <div >
            <span>Data da ocorrência: </span>
            <input type="date">            
        </div>

        <div >
            <span>Hora da ocorrência: </span>
            <input type="number" placeholder="12">            
        </div>

        <div >
            <span>Local de ocorrência: </span>
            <input type="text" placeholder="Local de ocorrência">            
        </div>
    </form>

    <form>
        <h3>Classificação do Evento: </h3>

        <div>
            <span>Qual foi o incidente: </span>
            <input type="text" placeholder="Descrição do Incidente">             
        </div>

        <div>
            <span>Afastamento: </span> 
            <select>
                <option value="1">Sim</option>
                <option value="2">Não</option>
                <option value="3">Fatalidade</option>
            </select>
        </div>
    </form>

    <form>
        <h3>Dados do Acidentado: </h3>

        <div>
            <span>Nome: </span>
            <input type="text" placeholder="Nome do Acidentado">             
        </div>

        <div>
            <span>Função: </span>
            <input type="text" placeholder="Função do Acidentado">             
        </div>

        <div>
            <span>Cargo: </span>
            <input type="text" placeholder="Cargo do Acidentado">             
        </div>

        <div>
            <span>Idade: </span>
            <input type="number" placeholder="0">             
        </div>

        <div>
            <span>Tempo de Empresa: </span>
            <input type="number" placeholder="0">             
        </div>

        <div>
            <span>Tempo de Função: </span>
            <input type="number" placeholder="0">             
        </div>
    </form>

    <form>
        <h3>Identificação das Falhas: </h3>

        <div>
            <textarea id="story" name="story" rows="7" cols="100"></textarea>      
        </div>
    </form>

    <form>
        <h3>Descrição da Anomalia: </h3>

        <div>
            <textarea id="story" name="story" rows="7" cols="100"></textarea>      
        </div>
    </form>

    <form>
        <h3>Análise da Anomalia: </h3>

        <div>
            <textarea id="story" name="story" rows="7" cols="100"></textarea>      
        </div>
    </form>

    <form>
        <h3>Causas do Acidente: </h3>

        <div>
            <textarea id="story" name="story" rows="7" cols="100"></textarea>      
        </div>
    </form>

    <form>
        <h3>Recomendações de ações corretivas e preventivas: </h3>

        <div>
            <textarea id="story" name="story" rows="7" cols="100"></textarea>      
        </div>
    </form>
</div>