<div class="cabecalho">
    <mat-icon class="iconeUsuario" aria-label="usuario">account_circle</mat-icon>
    <p>User: Usuário</p> 
</div>

<h1>DASHBOARD</h1>

<div class="container ">
    
    <div class="item">
        <div class="box_relatorio">
            <p>
                Acidente do <br/>Trabalho
            </p>
        </div>
        <div class="boxBottom_relatorio">
            <a routerLink="/acidente-de-trabalho">
                <p class="verDetalhes">Ver detalhes 
                    <mat-icon class="iconeAdd" aria-label="usuario">add</mat-icon>
                </p>
            </a>
        </div>
    </div>

    <div class="item">
        <div class="box_relatorio Azul">
            <p >
                PPP
            </p>
        </div>
        <div style="border-color: #428bca;" class="boxBottom_relatorio Azul">
            <a routerLink="/dashboard-ppp">
                <p class="verDetalhes" style="color: #428bca"> Ver detalhes 
                    <mat-icon class="iconeAdd" aria-label="usuario">add</mat-icon>
                </p>
            </a>
        </div>
    </div>

    <div class="item">
        <div style="background-color: #4aa95a; border-color: #4aa95a" class="box_relatorio">
            <p >
                 Brigada de <br/>Incendio
            </p>
        </div>
        <div style="border-color: #4aa95a;" class="boxBottom_relatorio">
            <a routerLink="#">
                <p class="verDetalhes" style="color: #4aa95a;"> Ver detalhes 
                    <mat-icon class="iconeAdd" aria-label="usuario">add</mat-icon>
                </p>
            </a> 
        </div>
    </div>

    <div class="item">
        <div style="background-color: #AF70C1; border-color: #AF70C1" class="box_relatorio">
            <p >
                PGR
            </p>
        </div>
        <div style="border-color: #AF70C1;" class="boxBottom_relatorio">
            <a routerLink="/dashboard-pgr">
                <p class="verDetalhes" style="color: #AF70C1"> Ver detalhes 
                    <mat-icon class="iconeAdd" aria-label="usuario">add</mat-icon> 
                </p> 
            </a>
        </div>
    </div>

    <div class="item">
        <div style="background-color: #55595c; border-color: #55595c" class="box_relatorio">
            <p >
               Gestão de empresas contratadas
            </p>
        </div>
        <div style="border-color: #55595c;" class="boxBottom_relatorio">
            <a routerLink="#">
                <p class="verDetalhes" style="color: #55595c"> Ver detalhes 
                    <mat-icon class="iconeAdd" aria-label="usuario">add</mat-icon>
                </p> 
            </a>
        </div>
    </div>
    <div class="item">
        <div style="background-color: #F49B0F; border-color: #F49B0F" class="box_relatorio">
            <p >
                Relatório gerenciais e planilhas compulsórias
            </p>
        </div>
        <div style="border-color: #F49B0F;" class="boxBottom_relatorio">
            <a routerLink="#">
                <p class="verDetalhes" style="color: #F49B0F"> Ver detalhes 
                    <mat-icon class="iconeAdd" aria-label="usuario">add</mat-icon>
                </p> 
            </a>
        </div>
    </div>
</div>