<div class="cabecalho">
    <mat-icon class="iconeUsuario" aria-label="usuario">account_circle</mat-icon>
    <p>User: Usuário</p> 
</div>
<div style="display: inline;">
    <h1>{{tituloBrigadaDeIncendio}}</h1>
    <a (click)="editar()"><mat-icon class="iconeEditar" aria-label="usuario">edit</mat-icon></a>
    <a (click)="salvar()"><mat-icon class="iconeSalvar" aria-label="usuario">save</mat-icon></a>
</div>
<div class="container">
    <form>

        <h3>Cadastro dos membros da brigada</h3>
        <div>
            <span>Nome: </span>
            <input type="text" placeholder="Nome">             
        </div>

        <div>
            <span>Sexo:</span>
            <input type="text" placeholder="Sexo">   
        </div>

        <div >
            <span>Estado Civil: </span>
            <input type="text" placeholder="Estado Civil">    
        </div>

        <div >
            <span>CPF:</span>
            <input type="text" placeholder="CPF">            
        </div>

        <div >
            <span>RG: </span>
            <input type="text" placeholder="RG">            
        </div>

        <div >
            <span>Profissao: </span>
            <input type="text" placeholder="Profissao">            
        </div>

        <div >
            <span>Data de nascimento: </span>
            <input type="text" placeholder="Data de Nascimento">            
        </div>

        <div >
            <span>Endereco:</span>
            <input type="text" placeholder="Endereco">            
        </div>

    </form>

</div>