<section class="container flex">
    <div class="item">
        <img src="../assets/blog-unibh-health-lab.png" alt="Imagem Produto">
    </div>
    <div class="item2">
        <form class="login" action="">
            <input class="entrada" type="email" placeholder="Email"><br>
            <input class="entrada" type="password" placeholder="Password"><br>
            <input class="entrada" type="password" placeholder="Confirm Password"><br>
            <select class="entrada" name="" id="">
                <option value="usuario" selected>Usuário</option>
                <option value="administrador">Administrador</option>
            </select><br>
            <a routerLink="/"><input class="botao entrada" type="button" value="Cadastrar"></a>
            <!-- <a class="linkEntrada" routerLink="/cadastro">Cadastrar</a><br> -->
        </form>
        
    </div>
</section>
