<div class="cabecalho">
    <mat-icon class="iconeUsuario" aria-label="usuario">account_circle</mat-icon>
    <p>User: Usuário</p> 
</div>

<div style="display: inline;">
    <h1>Quadro IV - Doenças ocupacionais:</h1>
    <a><mat-icon class="iconeSalvar" aria-label="usuario">save</mat-icon></a>
</div>

<div class="container">
    <form>
        <div>
            <span>Responsável: </span>
            <input type="text" placeholder="Responsavel">
        </div>

        <div>
            <span>Data: </span>
            <input type="date">
        </div>

        <div >
            <span>Tipo de doença: </span>
            <input type="text" placeholder="Doença">
        </div>

        <div >
            <span>N. Absoluto de casos: </span>
            <input type="number" placeholder="0">
        </div>

        <div >
            <span>Setor de atividades dos portadores: </span>
            <input type="text" placeholder="Setor">
        </div>

        <div >
            <span>N. relativos de casos: </span>
            <input type="number" placeholder="0">
        </div>

        <div >
            <span>N. de óbitos: </span>
            <input type="number" placeholder="0">
        </div>

        <div >
            <span>N. de trabalhadores transferidos para outro setor: </span>
            <input type="number" placeholder="0">
        </div>

        <div >
            <span>N. de trabalhadores definitivamente incapacitados: </span>
            <input type="number" placeholder="0">
        </div>

    </form>
</div>