<div class="cabecalho">
    <mat-icon class="iconeUsuario" aria-label="usuario">account_circle</mat-icon>
    <p>User: Usuário</p> 
</div>

<div style="display: inline;">
    <h1>CONSUMO DE EQUIPAMENTOS DE PROTEÇÃO INDIVIDUAL</h1>
    <a><mat-icon class="iconeSalvar" aria-label="usuario">save</mat-icon></a>
</div>

<div class="container">
    <form>
        <div>
            <span>Máscara cirúrgica: </span>
            <input type="number" placeholder="0">
        </div>

        <div>
            <span>Capote/Avental: </span>
            <input type="number" placeholder="0">
        </div>

        <div >
            <span>Luvas de procedimento: </span>
            <input type="number" placeholder="0">
        </div>

        <div >
            <span>Proteção ocular com óculos: </span>
            <input type="number" placeholder="0">
        </div>

        <div >
            <span>Proteção com máscara facial: </span>
            <input type="number" placeholder="0">
        </div>

        <div >
            <span>Máscara N95 ou FPP2: </span>
            <input type="number" placeholder="0">
        </div>

        <div >
            <span>Máscara cirúrgica: </span>
            <input type="number" placeholder="0">
        </div>

        <div >
            <span>Outros: </span>
            <input type="number" placeholder="0">
        </div>
    </form>
</div>