/* Flex Item */

h1 {
    font-family: 'Shadows Into Light Two', cursive;
    color: #55595c;
    font-size: 60px;
    text-align: center;
}

a {
    text-decoration:none; 
}

.item {
	text-align: center;
	font-size: 1.5em;
}
.item2 {
    width: auto;
    position: absolute;
	text-align: center;
	font-size: 1.5em;
    margin-left: 70%;
    margin-top: 20%;
}

.container {
	margin: 0 auto;
}

.flex {
	display: flex;
}

img {
    max-width: 100%;
    width: auto;
    margin-right: 40%;
    margin-top: 15%;
}


form {
    margin: 10px;
}

.entrada {
    border-radius: 6px;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 11%;
}

.botao {
    background-color: #018cab;
    color: white;
    text-transform: uppercase;
}

.linkEntrada {
    color: #707070;
    font-size: 15px;
    text-decoration: none; 

}
