<!-- <router-outlet></router-outlet> -->
<section class="container flex">
    <div class="item">
        <img src="../assets/blog-unibh-health-lab.png" alt="Imagem Produto">
    </div>
    <div class="item2">
        <form class="login" action="">
            <input class="entrada" type="email" placeholder="Email"><br>
            <input class="entrada" type="password" placeholder="Password"><br>
            <a routerLink="/dashboard"><input class="botao entrada" type="button" value="Entrar"></a>
        </form>
        <a class="linkEntrada" routerLink="/cadastro">Cadastrar</a><br>
        <a class="linkEntrada" routerLink="/recuperar-senha">Recuperar senha</a>
    </div>
</section>
