<div class="cabecalho">
    <mat-icon class="iconeUsuario" aria-label="usuario">account_circle</mat-icon>
    <p>User: Usuário</p> 
</div>

<div style="display: inline;">
    <h1>RELATÓRIO DE TREINAMENTO DE PESSOAL</h1>
    <a><mat-icon class="iconeSalvar" aria-label="usuario">save</mat-icon></a>
</div>

<div class="container">
    <form>
        <div>
            <span>Nome: </span>
            <input type="text" placeholder="Nome">             
        </div>

        <div>
            <span>Área: </span>
            <input type="text" placeholder="Área">   
        </div>

        <div>
            <span>Categoria: </span>
            <input type="text" placeholder="Categoria">            
        </div>

        <div>
            <span>Treinamento: </span>
            <input type="text" placeholder="Treinamento">            
        </div>

        <div>
            <span>Descrição: </span>
            <input type="text" placeholder="Descrição">            
        </div>

        <div>
            <span>Duração: </span>
            <input type="number" placeholder="0">            
        </div>

        <div>
            <span>Data: </span>
            <input type="date">            
        </div>

        <div>
            <span>Validade: </span>
            <input type="text" placeholder="Validade">            
        </div>

        <div>
            <span>Investimento: </span>
            <input type="text" placeholder="Investimento">            
        </div>

        <div>
            <span>Responsável técnico pelo curso: </span>
            <input type="text" placeholder="Responsável técnico">            
        </div>

        <div>
            <span>Status: </span>
            <input type="text" placeholder="Status">            
        </div>
    </form>
</div>