<div class="cabecalho">
    <mat-icon class="iconeUsuario" aria-label="usuario">account_circle</mat-icon>
    <p>User: Usuário</p> 
</div>

<h1>Brigada de incendio</h1>

<div class="container">
    <div class="item">
        <a routerLink="/brigada-de-incendio-equipe">
            <p class="CadastrarEquipe">Cadastrar  equipe de brigada 
                <mat-icon class="iconeAdd">add_circle_outline</mat-icon>
            </p>
        </a>
    </div>
    <div class="item">
        <a routerLink="/brigada-de-incendio-membros">
            <p class="CadastrarMembros">Cadastrar membros de brigada 
                <mat-icon class="iconeAdd">add_circle_outline</mat-icon>
            </p>
        </a>
    </div>
</div>
