<div class="cabecalho">
    <mat-icon class="iconeUsuario" aria-label="usuario">account_circle</mat-icon>
    <p>User: Usuário</p> 
</div>
<div style="display: inline;">
    <h1>{{tituloBrigadaDeIncendio}}</h1>
    <a (click)="editar()"><mat-icon class="iconeEditar" aria-label="usuario">edit</mat-icon></a>
    <a (click)="salvar()"><mat-icon class="iconeSalvar" aria-label="usuario">save</mat-icon></a>
</div>
<div class="container">
    <form>

        <h3>Cadastro da equipe da brigada</h3>
        <div>
            <span>Membros da brigada: </span>
            <input type="text" placeholder="Membros">             
        </div>

        <div>
            <span>Data do treinamento:</span>
            <input type="date" placeholder="Data do treinamento">   
        </div>

        <div >
            <span>Lider da brigada: </span>
            <input type="text" placeholder="Lider">    
        </div>

        <div >
            <span>Coordenador da brigada:</span>
            <input type="text" placeholder="Coordenador">            
        </div>

        <div >
            <span>Data das reunioes: </span>
            <input type="date" placeholder="Data das reunioes">            
        </div>

        <div>
            <span>Presenca dos membros da brigada: </span>
            <input type="text" placeholder="Presenca dos membros">            
        </div>

        <div >
            <span>Abono Brigadista: </span>
            <input type="text" placeholder="Abono Brigadista">            
        </div>

        <div >
            <span>Certificados:</span>
            <input type="text" placeholder="Certificados">            
        </div>

    </form>

</div>