<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
<div class="cabecalho">
    <mat-icon class="iconeUsuario" aria-label="usuario">account_circle</mat-icon>
    <p>User: Usuário</p> 
</div>

<div style="display: inline;">
    <h1>{{tituloCat}}</h1>
    <a (click)="editar()"><mat-icon class="iconeEditar" aria-label="usuario">edit</mat-icon></a>
    <a (click)="salvar()"><mat-icon class="iconeSalvar" aria-label="usuario">save</mat-icon></a>
</div>
<div class="container">
    <form>

        <div>
            <span>Tipo de CAT: </span> 
            <select name="" id="">
                <option value="1">inicial</option>
                <option value="2">Reabertura</option>
                <option value="3">Comunicação de óbito</option>
            </select>
        </div>

        <div>
            <span>Nome do empregador: </span>
            <input type="text" placeholder="Nome do empregador">             
        </div>

        <div>
            <span>N° do documento empregador: </span>
            <input type="text" placeholder="N° do documento empregador">   
        </div>

        <div >
            <span>CNAE: </span>
            <input type="text" placeholder="CNAE">    
        </div>

        <div >
            <span>Endereço do empregador: </span>
            <input type="text" placeholder="Endereço do empregador">            
        </div>

        <div >
            <span>RG: </span>
            <input type="text" placeholder="RG">            
        </div>

        <div >
            <span>CPF: </span>
            <input type="text" placeholder="CPF">            
        </div>

        <div >
            <span>RG: </span>
            <input type="text" placeholder="RG">            
        </div>

        <div >
            <span>N° Carteira: </span>
            <input type="text" placeholder="N° Carteira">            
        </div>

        <div >
            <span>CBO: </span>
            <input type="text" placeholder="CBO">            
        </div>

        <div >
            <span>NIT/PIS/PASEP: </span>
            <input type="text" placeholder="NIT/PIS/PASEP">            
        </div>

        <div >
            <span>Área de atuação: </span>
            <input type="text" placeholder="Área de atuação">            
        </div>

        <div >
            <span>Salário: </span>
            <input type="text" placeholder="Salário">            
        </div>

        <div >
            <span>Telefone: </span>
            <input type="tel" placeholder="Tetefone">            
        </div>

        <div >
            <span>Endereço: </span>
            <input type="text" placeholder="Endereço">            
        </div>

        <div >
            <span>CEP: </span>
            <input type="tel" placeholder="CEP">            
        </div>

        <div >
            <span>Data de acidente: </span>
            <input type="tel" placeholder="Data de acidente">            
        </div>

        <div >
            <span>Último dia trabalhando: </span>
            <input type="tel" placeholder="Último dia trabalhando">            
        </div>

    </form>

</div>

