<div class="cabecalho">
    <mat-icon class="iconeUsuario" aria-label="usuario">account_circle</mat-icon>
    <p>User: Usuário</p> 
</div>

<h1>NR 04</h1>

<div class="containerAcidenteDoTrabalho ">
    
    <div class="item">
        <div class="box_relatorio_AcidenteDeTrabalho">
            <div>
                <mat-icon class="iconeBox" aria-label="usuario">assignment</mat-icon>
            </div>     
                <p>Quadro III da NR 04</p>
        </div>
        <div class="boxBottom_relatorio_AcidenteDeTrabalho">
            <a routerLink="/quadro-iii">
                <p class="verDetalhes">Ver detalhes 
                    <mat-icon class="iconeAdd" aria-label="usuario">add</mat-icon>
                </p>
            </a>
        </div>
    </div>

    <div class="item">
        <div style="background-color: #428bca; border-color: #428bca" class="box_relatorio_AcidenteDeTrabalho">
            <div>
                <mat-icon class="iconeBox" aria-label="usuario">assignment</mat-icon>
            </div>
            <p>Quadro IV da NR 04</p>
        </div>
        <div style="border-color: #428bca;" class="boxBottom_relatorio_AcidenteDeTrabalho">
            <a routerLink="/quadro-iv">
                <p class="verDetalhes" style="color: #428bca;">Ver detalhes 
                    <mat-icon class="iconeAdd" aria-label="usuario">add</mat-icon>
                </p>
            </a>
        </div>
    </div>
</div>
<div class="containerAcidenteDoTrabalho ">
    <div class="item">
        <div style="background-color: #F49B0F; border-color: #F49B0F" class="box_relatorio_AcidenteDeTrabalho">
            <div>
                <mat-icon class="iconeBox" aria-label="usuario">assignment</mat-icon>
            </div>
            <p>Quadro V da NR 04</p>
        </div>
        <div style="border-color: #F49B0F;" class="boxBottom_relatorio_AcidenteDeTrabalho">
            <a routerLink="/quadro-v">
                <p class="verDetalhes" style="color: #F49B0F">Ver detalhes 
                    <mat-icon class="iconeAdd" aria-label="usuario">add</mat-icon>
                </p>
            </a> 
        </div>
    </div>

    <div class="item">
        <div style="background-color: #4aa95a; border-color: #4aa95a" class="box_relatorio_AcidenteDeTrabalho">
            <div>
                <mat-icon class="iconeBox" aria-label="usuario">assignment</mat-icon>
            </div>
            <p>Quadro VI da NR 04</p>
        </div>
        <div style="border-color: #4aa95a;" class="boxBottom_relatorio_AcidenteDeTrabalho">
            <a routerLink="/quadro-vi">
                <p class="verDetalhes" style="color: #4aa95a">Ver detalhes 
                    <mat-icon class="iconeAdd" aria-label="usuario">add</mat-icon>
                </p>
            </a>
        </div>
    </div>
</div>