<div class="cabecalho">
    <mat-icon class="iconeUsuario" aria-label="usuario">account_circle</mat-icon>
    <p>User: Usuário</p> 
</div>

<div style="display: inline;">
    <h1>Quadro V - Insalubridade:</h1>
    <a><mat-icon class="iconeSalvar" aria-label="usuario">save</mat-icon></a>
</div>

<div class="container">
    <form>
        <div>
            <span>Responsável: </span>
            <input type="text" placeholder="Responsavel">
        </div>

        <div>
            <span>Data: </span>
            <input type="date">
        </div>

        <div >
            <span>Setor: </span>
            <input type="text" placeholder="Setor">
        </div>

        <div >
            <span>Agentes Identificados: </span>
            <input type="text" placeholder="Agentes Identificados">
        </div>

        <div >
            <span>Intensidade ou concentração: </span>
            <input type="text" placeholder="Intensidade ou concentração">
        </div>

        <div >
            <span>N. de trabalhadores expostos: </span>
            <input type="number" placeholder="0">
        </div>

    </form>
</div>