<div class="cabecalho">
    <mat-icon class="iconeUsuario" aria-label="usuario">account_circle</mat-icon>
    <p>User: Usuário</p> 
</div>

<h1>PGR</h1>

<div class="containerDashboardPgr ">
    
    <div class="item">
        <div class="box_relatorio_DashboardPgr">
            <div>
                <mat-icon class="iconeBox" aria-label="usuario">assignment</mat-icon>
            </div>     
                <p>Cadasto PGR</p>
        </div>
        <div class="boxBottom_relatorio_DashboardPgr">
            <a routerLink="/cadastro-pgr">
                <p class="verDetalhes">Ver detalhes 
                    <mat-icon class="iconeAdd" aria-label="usuario">add</mat-icon>
                </p>
            </a>
        </div>
    </div>

    <div class="item">
        <div style="background-color: #428bca; border-color: #428bca" class="box_relatorio_DashboardPgr">
            <div>
                <mat-icon class="iconeBox" aria-label="usuario">assignment</mat-icon>
            </div>
            <p >Inventário dos riscos<br> ocupacionais</p>
        </div>
        <div style="border-color: #428bca;" class="boxBottom_relatorio_DashboardPgr">
            <a routerLink="/inventario-dos-riscos-ocupacionais">
                <p class="verDetalhes" style="color: #428bca;">Ver detalhes 
                    <mat-icon class="iconeAdd" aria-label="usuario">add</mat-icon>
                </p>
            </a>
        </div>
    </div>
</div>
<div class="containerDashboardPgr ">
    <div class="item">
        <div style="background-color: #F49B0F; border-color: #F49B0F" class="box_relatorio_DashboardPgr">
            <div>
                <mat-icon class="iconeBox" aria-label="usuario">assignment</mat-icon>
            </div>
            <p style="font-size: 40px;" >Informações dos agentes físicos,<br> químicos e biológicos
                </p>
        </div>
        <div style="border-color: #F49B0F;" class="boxBottom_relatorio_DashboardPgr">
            <a routerLink="/informacoes-agentes-fisicos">
                <p class="verDetalhes" style="color: #F49B0F">Ver detalhes 
                    <mat-icon class="iconeAdd" aria-label="usuario">add</mat-icon>
                </p>
            </a> 
        </div>
    </div>


</div>