<div class="cabecalho">
    <mat-icon class="iconeUsuario" aria-label="usuario">account_circle</mat-icon>
    <p>User: Usuário</p> 
</div>

<div style="display: inline;">
    <h1>Quadro VI - Acidentes sem vítima:</h1>
    <a><mat-icon class="iconeSalvar" aria-label="usuario">save</mat-icon></a>
</div>

<div class="container">
    <form>
        <div>
            <span>Responsável: </span>
            <input type="text" placeholder="Responsavel">
        </div>

        <div>
            <span>Data: </span>
            <input type="date">
        </div>

        <div >
            <span>Setor: </span>
            <input type="text" placeholder="Setor">
        </div>

        <div >
            <span>N. de acidentes: </span>
            <input type="number" placeholder="0">
        </div>

        <div >
            <span>Perda material avaliada em R$: </span>
            <input type="number" placeholder="0">
        </div>

        <div>
            <span>Vítimas: </span> 
            <select>
                <option value="1">Sim</option>
                <option value="2">Não</option>
            </select>
        </div>

    </form>
</div>