<div class="cabecalho">
    <mat-icon class="iconeUsuario" aria-label="usuario">account_circle</mat-icon>
    <p>User: Usuário</p> 
</div>

<div style="display: inline;">
    <h1>RELATORIO DE EMPRESA CONTRATADA</h1>
    <a><mat-icon class="iconeSalvar" aria-label="usuario">save</mat-icon></a>
</div>

<div class="container">
    <form>
        <div>
            <span>identificação: </span>
            <input type="text" placeholder="identificação">             
        </div>

        <div>
            <span>Nome: </span>
            <input type="text" placeholder="Nome">   
        </div>

        <div>
            <span>CNPJ: </span>
            <input type="text" placeholder="CNPJ">            
        </div>

        <div>
            <span>Endereço: </span>
            <input type="text" placeholder="Endereço">            
        </div>

        <div>
            <span>Telefone: </span>
            <input type="text" placeholder="Telefone">            
        </div>

        <div>
            <span>E-mail: </span>
            <input type="text" placeholder="email">            
        </div>

        <div>
            <span>Site: </span>
            <input type="text" placeholder="Site">            
        </div>

        <div>
            <span>Prestação de serviço: </span>
            <input type="text" placeholder="Prestação de serviço">            
        </div>

        <div>
            <span>Número do contrato: </span>
            <input type="number" placeholder="0">            
        </div>

        <div>
            <span>Vigência do contrato: </span>
            <input type="text" placeholder="Vigência do contrato">            
        </div>

        <div>
            <span>Status do contrato: </span>
            <input type="text" placeholder="Status">            
        </div>
    </form>
</div>