<div class="cabecalho">
    <mat-icon class="iconeUsuario" aria-label="usuario">account_circle</mat-icon>
    <p>User: Usuário</p> 
</div>

<div style="display: inline;">
    <h1>Quadro III - Acidentes com vítima:</h1>
    <a><mat-icon class="iconeSalvar" aria-label="usuario">save</mat-icon></a>
</div>

<div class="container">
    <form>
        <div>
            <span>Responsável: </span>
            <input type="text" placeholder="Responsavel">
        </div>

        <div>
            <span>Data: </span>
            <input type="date">
        </div>

        <div >
            <span>Setor: </span>
            <input type="text" placeholder="Setor">
        </div>

        <div >
            <span>N. Absoluto: </span>
            <input type="number" placeholder="0">
        </div>

        <div >
            <span>N. Absoluto com afastamento menor que 15 dias: </span>
            <input type="number" placeholder="0">
        </div>

        <div >
            <span>N. Absoluto com afastamento maior que 15 dias: </span>
            <input type="number" placeholder="0">
        </div>

        <div >
            <span>N. Absoluto sem afastamento: </span>
            <input type="number" placeholder="0">
        </div>

        <div >
            <span>Índice relativo total de empregados: </span>
            <input type="number" placeholder="0">
        </div>

        <div >
            <span>Dias/Homens perdidos: </span>
            <input type="number" placeholder="0">
        </div>

        <div >
            <span>Taxa de frequência: </span>
            <input type="number" placeholder="0">
        </div>

        <div >
            <span>Óbitos: </span>
            <input type="number" placeholder="0">
        </div>

        <div >
            <span>Índice de avaliação de gravidade: </span>
            <input type="number" placeholder="0">
        </div>

    </form>
</div>